{% extends 'gift/base.html' %}
{% block title %}
  {{ item.name }}
{% endblock %}
{% block content %}
  <div class="grid grid-cols-5">
    <div class="col-span-3">
      <img src="{{ item.image.url }}" class="pl-100  rounded-xl h-96 w-150 object-cover">
    </div>
    <div class=" col-span-2 p-6 bg-gray-100 rounded-xl h-96 ">
      <h1 class="mb-6 text-3xl">{{item.name}}</h1>
      <p class="text-gray-500"><strong>Price:</strong>{{item.price}}</p>
      <p class="text-gray-500"><strong>Seller:</strong>{{item.created_by}}</p>
      <p class="text-gray-700"><strong class="text-gray-500">Description:</strong>{{item.description}}</p>
      {% if item.created_by == request.user %}
      <a href="{% url 'item:delete' item.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-red-500 text-white rounded-full hover:bg-gray-500">DELETE</a>
      <a href="{% url 'item:edit' item.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-green-500 text-white rounded-full hover:bg-gray-500">EDIT</a>
      {% else %}
      <a href="#" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-full hover:bg-gray-500">Contact Seller</a>
      {%endif%}
    </div>
  </div>
  
   <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
  <h2 class="mb-12 text-2xl text-center">Related Items</h2>
  <div class="grid grid-cols-3 gap-3">
    {% for i in rel_items %}
      <div class="flex flex-wrap">
        <a href="{% url 'item:details' i.id %}">
          <div>
            <img src="{{ i.image.url }}" class="rounded-t-xl w-32 h-32 object-cover flex-shrink-0">
          </div>
        </a>
        <div class="p-2 bg-white rounded-b-xl flex-grow">
          <h2 class="text-lg font-medium">{{ i.name }}</h2>
          <p class="text-gray-600 mt-1">{{ i.price }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
