{% extends 'gift/base.html' %}
{%load static%}
{% block title %}
About Us |
{% endblock %}
{% block content %}

<div class="bg-cover bg-center bg-no-repeat" style="background-image: url('{% static 'images/giftings1.jpg' %}');">
  <div class="container mx-auto px-4 py-16">
    <h2 class="text-3xl font-bold text-black mb-4">About Giftings</h2>
    <p class="text-lg text-black mb-8">Since 1984, Giftings has been providing high-quality gifts for all occasions, including toys, home decor, clothing, and dining products. We pride ourselves on our extensive selection and commitment to exceptional customer service.</p>
    <p class="text-lg text-black mb-8">To make inventory management easier for our employees, we have introduced the Giftings platform. This platform is designed to help our employees efficiently manage inventory stock, including stock-up and stock-out procedures. Our goal is to ensure that we always have the perfect gift in stock for our customers.</p>
    <p class="text-lg text-black mb-8">At Giftings, we believe that gifting should be a joyous and stress-free experience. That's why we're committed to making every customer's gifting experience delightful, from the moment they browse our selection to the moment the gift is received.</p>
    <p class="text-lg text-black">Thank you for choosing Giftings as your gifting partner. We look forward to providing you with exceptional service and high-quality gifts for years to come.</p>
  </div>
 </div>

{% endblock %}